@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
}

/* header */
.header {
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2% 12%;
}

.logo {
    width: 100px;
    /* border: 2px solid gold; */
}

.logo img {
    width: 100%;
}

nav ul {
    /* border: 2px solid blue; */
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 40px;
    text-align: center;
    justify-content: center;
}

nav ul li {
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: #000;
}

.icons {
    width: 3%;
    display: flex;
    gap: 25px;

}

.icons img {
    width: 50%;
}

.header button {
    border-radius: 5px;
    padding: 10px;
    border: none;
}

.header button a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#checkbtn {
    display: none;
}
label
{
    display: none;
}
/* aboutus  */
.aboutus {
    width: 80%;
    margin: 30px auto;
    background-color: whitesmoke;
}

.aboutus h1 {
    text-align: center;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* border: 2px solid salmon; */

}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.content {
    width: 50%;
    text-align: justify;
}

.content p {
    font-size: larger;
}

.image img {
    height: 460px;
    border-radius: 30px;
}

/* CHEF */
.chef {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0% auto;

}

.aboutchef {
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.aboutchef p {
    width: 50%;
    font-size: larger;
    text-align: justify;
}

.aboutchef img {
    height: 370px;
    border-radius: 10px;
}

.chefimage {
    text-align: center;
}

/* topchefs  */

.topchefs {
    text-align: center;
    width: 80%;
    margin: 5% auto;
}

.topchefimg {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.chefimages {
    /* border: 2px solid red; */
    height: 300px;
    margin-top: 30px;
    text-transform: uppercase;

}

.chefimages img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

/* testimonials */
.testimonials {
    background-image: url(./assets/images/testimonials-bg.jpg);
    background-size: cover;
    width: 80%;
    margin: 50px auto;
    color: white;
    text-align: center;
}

.container {
    background: rgba(255, 255, 255, 0.2);
}

.customerreview {
    display: flex;
    gap: 25px;
    padding: 0px 90px;
}

.customer {
    /* border: 2px solid red; */
    width: 80%;
    margin: 50px auto;
}

.customer img {
    border-radius: 100%;
}

/* footer */
footer {

    background: url(./assets/foot\ bg.jpg) no-repeat center center/cover;
    color: #fff;
    background-size: cover;

}

.footer-overlay {
    background: rgba(0, 0, 0, 0.7);
    padding: 40px 30px 50px;
}

/* Footer Layout */
.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 50px;
    max-width: 1400px;
    margin: auto;
}

/* Columns */
.footer-col h3,
.footer-col h2 {
    margin-bottom: 15px;
    color: #ff4c24;
}

.footer-col p {
    color: #ccc;
    text-align: justify;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin: 10px 0;
}

.footer-col ul li a {
    color: #ddd;
    text-decoration: none;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: #ff4c24;
}

/* Social Media */
.socialicons a {
    display: inline-block;
    background: #ff4c24;
    color: #ffffff;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    transition: 0.3s;
}

.socialicons a:hover {
    background: #fff;
    color: #ff4c24;
    transform: translateY(-3px);
}

/* Footer Bottom */
.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 15px;
    font-size: 14px;
    color: #bbb;
}

/* Logo Styling */
.footlogo {
    /* border: 2px solid red; */
    width: 120px;
}

.footlogo img {
    width: 100%;
}

@media all and (width:600px) {
    .header {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    nav ul {
        padding: 50px;
        display: none;
        flex-direction: column;
        text-align: center;
        width: 360px;
    }

    nav ul li {
        color: white;
    }

    .header button {
        display: none;
    }

    nav ul li a {
        display: block;

    }

    .icons {
        display: none;
    }

    label {
        display: block;
        margin-left: 250px;
    }

    #checkbtn:checked~nav ul {
        display: flex;
        background-color: orangered;
    }
    .content h1
    {
        font-size: 18px;
    }
    .aboutus p {
        font-size: 14px;
    }

    .aboutchef p {
        font-size: 14px;
    }

    .customerreview {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 40px;

}

    footer {
        font-size: 14px;
    }

    .aboutchef img {
        height: 300px;
        border-radius: 10px;
    }

    .footer-container {
        display: flex;
        flex-wrap: wrap;
    }

    .socialicons {
        display: flex;
        width: 170px;
        height: 100px;
        border-radius: 100%;
    }
}