@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
}

/* form */
form {
    /* border: 2px solid green; */
    background-size: cover;
    background-color: rgb(255, 153, 0);
    margin-top: 30px;
    text-align: left;
    justify-content: center;
    margin-left: 250px;
    padding: 50px;
    border-radius: 10px;
    width: 20%;


}
input[type="text"] {

    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
}

input[type="password"] {
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
}
